:host {
    background: white;
    display: block;
    border: 1px solid #E0E0E0;

    .ax-table__mode-switch {
        position: absolute;
        right: 17px;
        top: 17px;
    }

    ax-table-paginator {
        position: absolute;
        right: 90px;
        top: 24px;
    }
}
